.decoracion {
  color: blue;
  background-color: lightblue;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
padding: 10px 20px;
border-radius: 10px;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
margin: 20px auto;
width: 100%;
}